body {
    font-family: monospace;
    font-size: 16px;
    background-image: linear-gradient(180deg, red, yellow);
    height: 1000px;
}

textarea {
    border: none;
    resize: none;
    color: white;
    padding: 10px;
    align-items: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    background-image: url("./Images/wood.jpg");
    font-size: large;
    color: whitesmoke;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 30%; */
}

#tagLine {
    text-align: center;
    color: whitesmoke;

}

.searchBar {
    color: whitesmoke;
    text-align:right;
    margin: 0;
    width: 357px;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent {
    color: whitesmoke;
    text-align: center;
}

.results {
    color: whitesmoke;
    text-align: center;
}

























































