body {
    font-family: monospace;
    font-size: 16px;
    background-image: linear-gradient(180deg, red, yellow);
    height: 1000px;
}

textarea {
    border: none;
    resize: none;
    color: white;
    padding: 10px;
    align-items: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    background-image: url("./Images/wood.jpg");
    font-size: large;
    color: whitesmoke;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 30%; */
}

#tagLine {
    text-align: center;
    color: whitesmoke;

}

.searchBar {
    color: whitesmoke;
    text-align:right;
    margin: 0;
    width: 357px;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent {
    color: whitesmoke;
    text-align: center;
}

.results {
    color: whitesmoke;
    text-align: center;
}

.auto-rows-auto {
    grid-auto-rows: auto;
}

.col-span-8{
    text-align: left
}

.grid {
    border-color: rgb(255 255 255);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
